flow/blokko-flows.json
[
    {
        "id": "50651fdf.66cf8",
        "type": "tab",
        "label": "BLOKKO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c80253.d3db9d8",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 1",
        "topic": "blokko/order/qr/1",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "e0e85551.57da58"
            ]
        ]
    },
    {
        "id": "41bc1272.2e254c",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 1",
        "topic": "node/bcf-qr-code:1/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "e0e85551.57da58",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "41bc1272.2e254c"
            ]
        ]
    },
    {
        "id": "95626068.d78d5",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 2",
        "topic": "blokko/order/qr/2",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "15d0f6ff.3e3089"
            ]
        ]
    },
    {
        "id": "ff98a314.25c0f",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 2",
        "topic": "node/bcf-qr-code:2/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "15d0f6ff.3e3089",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "ff98a314.25c0f"
            ]
        ]
    },
    {
        "id": "8450a0dc.acaf8",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 3",
        "topic": "blokko/order/qr/3",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "88c715eb.591ae8"
            ]
        ]
    },
    {
        "id": "f9e77ad0.d4e0a8",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 3",
        "topic": "node/bcf-qr-code:3/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "88c715eb.591ae8",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "f9e77ad0.d4e0a8"
            ]
        ]
    },
    {
        "id": "65230228.a1883c",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 4",
        "topic": "blokko/order/qr/4",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "8c33c9a1.8b6118"
            ]
        ]
    },
    {
        "id": "399b2fa9.c501d",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 4",
        "topic": "node/bcf-qr-code:4/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "8c33c9a1.8b6118",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "399b2fa9.c501d"
            ]
        ]
    },
    {
        "id": "fee03e96.92249",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 5",
        "topic": "blokko/order/qr/5",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "bc93e9bf.c5eb08"
            ]
        ]
    },
    {
        "id": "9db2d9df.247c98",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 5",
        "topic": "node/bcf-qr-code:5/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "bc93e9bf.c5eb08",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "9db2d9df.247c98"
            ]
        ]
    },
    {
        "id": "685d4293.90674c",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 6",
        "topic": "blokko/order/qr/6",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "8affd458.754b88"
            ]
        ]
    },
    {
        "id": "cea2e035.099fe",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 6",
        "topic": "node/bcf-qr-code:6/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "8affd458.754b88",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "cea2e035.099fe"
            ]
        ]
    },
    {
        "id": "47603007.32ec9",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 7",
        "topic": "blokko/order/qr/7",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "3768fc38.7f1174"
            ]
        ]
    },
    {
        "id": "6bd3e74d.2cf7a8",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 7",
        "topic": "node/bcf-qr-code:7/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "3768fc38.7f1174",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "6bd3e74d.2cf7a8"
            ]
        ]
    },
    {
        "id": "1ee9b885.863197",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 8",
        "topic": "blokko/order/qr/8",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "85d83b90.ad05e8"
            ]
        ]
    },
    {
        "id": "5328caf6.000c34",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 8",
        "topic": "node/bcf-qr-code:8/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "85d83b90.ad05e8",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "5328caf6.000c34"
            ]
        ]
    },
    {
        "id": "30fae7cc.e400f8",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 9",
        "topic": "blokko/order/qr/9",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "bd543afb.1736f8"
            ]
        ]
    },
    {
        "id": "f0c4f88b.dc3798",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 9",
        "topic": "node/bcf-qr-code:9/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "bd543afb.1736f8",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "f0c4f88b.dc3798"
            ]
        ]
    },
    {
        "id": "848efd92.b7a3",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 10",
        "topic": "blokko/order/qr/10",
        "qos": "2",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "5337ba7a.3ecb54"
            ]
        ]
    },
    {
        "id": "eb7071a5.69e39",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 10",
        "topic": "node/bcf-qr-code:10/blokko/order/qr/",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "5337ba7a.3ecb54",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "eb7071a5.69e39"
            ]
        ]
    },
    {
        "id": "575331de.d1f93",
        "type": "mqtt in",
        "z": "50651fdf.66cf8",
        "name": "Container 0",
        "topic": "blokko/order/qr/0",
        "qos": "0",
        "broker": "70c3dc15.e75e74",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "effa4976.47fb58"
            ]
        ]
    },
    {
        "id": "3b2a810.a89068",
        "type": "mqtt out",
        "z": "50651fdf.66cf8",
        "name": "LCD 0",
        "topic": "node/bcf-qr-code:0/blokko/order/qr/0",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "effa4976.47fb58",
        "type": "function",
        "z": "50651fdf.66cf8",
        "name": "URL",
        "func": "// msg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?order=\" + msg.payload + \"\\\"\";\n// msg.payload = \"\\\"order=\" + msg.payload + \"\\\"\";\nmsg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "3b2a810.a89068",
                "eea8949.e65b568"
            ]
        ]
    },
    {
        "id": "eea8949.e65b568",
        "type": "debug",
        "z": "50651fdf.66cf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "70c3dc15.e75e74",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "http://broker.hivemq.com",
        "port": "8000",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "order",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]