flows/flows (1).json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"aaccf7dc.75b348","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 1","topic":"order/1","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":60,"wires":[["9b0486a3.865378"]]},{"id":"6058b829.81cc68","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 1","topic":"node/lcd-thermostat:1/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":60,"wires":[]},{"id":"9b0486a3.865378","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["6058b829.81cc68"]]},{"id":"4485a5c1.e3342c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 2","topic":"order/2","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":120,"wires":[["ab3210a7.1d8bc"]]},{"id":"bcd3978e.cc7098","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 2","topic":"node/lcd-thermostat:2/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":120,"wires":[]},{"id":"ab3210a7.1d8bc","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["bcd3978e.cc7098"]]},{"id":"c7f82ca6.0dcb5","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 3","topic":"order/3","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":180,"wires":[["181706fa.6b8699"]]},{"id":"a32ed6ca.134d98","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 3","topic":"node/lcd-thermostat:3/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":180,"wires":[]},{"id":"181706fa.6b8699","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["a32ed6ca.134d98"]]},{"id":"f0939387.0ce3b","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 4","topic":"order/4","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":240,"wires":[["9a69a4fb.a20088"]]},{"id":"17647199.040cee","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 4","topic":"node/lcd-thermostat:4/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":240,"wires":[]},{"id":"9a69a4fb.a20088","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["17647199.040cee"]]},{"id":"9ba31a2d.c170b8","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 5","topic":"order/5","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":300,"wires":[["2a2d57b1.90f378"]]},{"id":"69d3a4d0.c861dc","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 5","topic":"node/lcd-thermostat:5/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":300,"wires":[]},{"id":"2a2d57b1.90f378","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["69d3a4d0.c861dc"]]},{"id":"8a325794.0ed7a8","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 6","topic":"order/6","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":360,"wires":[["9661b36c.dd902"]]},{"id":"aa6a0c15.404e2","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 6","topic":"node/lcd-thermostat:6/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":360,"wires":[]},{"id":"9661b36c.dd902","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["aa6a0c15.404e2"]]},{"id":"c73ce5f6.a74c68","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 7","topic":"order/7","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":420,"wires":[["ca62391c.2cdf08"]]},{"id":"80a55fa4.6f9de","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 7","topic":"node/lcd-thermostat:7/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":420,"wires":[]},{"id":"ca62391c.2cdf08","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["80a55fa4.6f9de"]]},{"id":"6990c5fc.7e187c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 8","topic":"order/8","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":480,"wires":[["575cf8ae.9e1e78"]]},{"id":"68368023.1cc39","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 8","topic":"node/lcd-thermostat:8/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":480,"wires":[]},{"id":"575cf8ae.9e1e78","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["68368023.1cc39"]]},{"id":"f21f805a.91a8a","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 9","topic":"order/9","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":540,"wires":[["830327d2.ed37b8"]]},{"id":"98248fc4.db5ef","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 9","topic":"node/lcd-thermostat:9/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":410,"y":540,"wires":[]},{"id":"830327d2.ed37b8","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["98248fc4.db5ef"]]},{"id":"4c36f4ae.d66b1c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"Container 10","topic":"order/10","qos":"2","datatype":"utf8","broker":"ea1a48b.57333b8","x":110,"y":600,"wires":[["1ece6447.8cdc1c"]]},{"id":"71ad5b7d.c031b4","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"LCD 10","topic":"node/lcd-thermostat:10/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":420,"y":600,"wires":[]},{"id":"1ece6447.8cdc1c","type":"function","z":"2c41a2bd.aa36ae","name":"URL","func":"\tmsg.payload = \"\\\"http://blokko.blockchainadvies.nu/receive-order.html?orderid=\" + msg.payload + \"\\\"\";\n\treturn msg;","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["71ad5b7d.c031b4"]]},{"id":"ea1a48b.57333b8","type":"mqtt-broker","z":"","name":"","broker":"http://broker.hivemq.com","port":"8000","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"order","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]